<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Update</title>
</head>
<body>
    <form action="./<%=id%>" method="post" name="updateFrm">
        <table>
            <tr>
                <td>제목</td>
                <td></td>
            </tr>
            <tr>
                <td>작성자</td>
                <td></td>
            </tr>
            <tr>
                <td>내용</td>
                <td></td>
            </tr>
        </table>
        <input type="text" name="content">
        <button onclick="onConfirm();">수정</button>
        <button onclick="closeForm()">닫기</button>
    </form>
    <script src="/js/board.js"></script>
</body>
</html>