<%-include('../header.ejs') %> 
<main id="board-body">
    <div id="board-wrap">
        <section id="board-title" class="nanum">
            <h2>자유게시판</h2>
        </section>

        <section id="board-main">
            <table border="1">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <button></button><button></button><button></button><button></button><button></button><button></button><button></button>
        </section>
    </div>

</main>


<script>
    document.title = "BitTravel > Board > Main"
</script>
<%-include('../footer.ejs') %> 
    
