<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Update</title>
</head>
<body>
    <form action="./<%=id%>" method="post" name="updateFrm">
        <input type="text" name="content">
        <button onclick="onConfirm();">수정</button>
        <button onclick="closeForm()">닫기</button>
    </form>
    <script>
        function onConfirm(){
            if(confirm("수정하시겠습니까?")){
                    document.updateFrm.submit();
            }
            setTimeout(() => {
                window.close();    
            }, 1);
        }
        function closeForm(){
            if(confirm("수정을 취소하시겠습니까?"))
                window.close();
        }
    </script>
</body>
</html>