@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.cultural-wrap{
  margin : 0 auto;
  width: 60vw;

}
.cultural-title{
  text-align: center;
}

.cultural-wrap img{
  width: 100%;
}

.cultural-table{
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.cultural-table tr td:first-child{
  width: 100px;
  text-align: center;
}

.cultural-table tr td:last-child{
  padding: 10px;
}