<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>


    <!-- link style sheet -->
    <link rel="stylesheet" href="/css/register-style.css">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="./favicon.png">
    <!-- link fonts-->
    <link
        href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Open+Sans:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="fade">
    <div class="container">
        <form action="/register" method="post" class="frm" id="frm" class="frm gothic" name="frm">
            <div class="form-wrap">
                <h1 class="open-sans">REGISTER</h1>
                <div class="form-main">
                    <div class="form-control">
                        <span class="lbl">이름</span>
                        <i class="fa-regular fa-user"></i>
                        <input type="text" name="name" id="name">
                        <br>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <span class="lbl">아이디</span>
                        <i class="fa-regular fa-id-card"></i>
                        <input type="text" name="userid" id="userid">
                        <br>
                        <small></small>
                        <div class="btn-wrap">
                            <button type="button" onClick="popupOpen('./valid-pop.html', '', 300, 100);" class='btn'
                                id="btn">중복확인</button>
                        </div>

                    </div>
                    <div class="form-control">
                        <span class="lbl">비밀번호</span>
                        <i class="fa-solid fa-key"></i>
                        <input type="password" name="passwd" id="passwd">
                        <br>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <span class="lbl">비밀번호 확인</span>
                        <i class="fa-solid fa-key"></i>
                        <input type="password" name="passwd2" id="passwd2">
                        <br>
                        <small></small>
                    </div>
                    <small></small>
                    <div class="form-control">
                        <span class="lbl">이메일</span>
                        <i class="fa-solid fa-envelope"></i>
                        <input type="text" name="email" id="email">
                        <br>
                        <small></small>
                    </div>
                    <small></small>
                    <div class="form-control">
                        <div class="gender-wrap">
                            <span class="lbl genLbl">성별</span>
                            <div class="radio-wrap">
                                <div>
                                    <input type="radio" name="gender" class="gender" id="man" value="남">
                                    <label for="man"><span class="genderRd">남자</span></label>
                                </div>
                                <div>
                                    <input type="radio" name="gender" class="gender" id="woman" value="여">
                                    <label for="woman">
                                        <span class="genderRd">여자</span>
                                </div>
                            </div>
                            </label>
                        </div>
                        <br>
                        <small></small>
                    </div>
                    <small></small>
                    <div class="form-control">
                        <span class="lbl">지역</span>
                        <select name="location" id="location" class="location">
                            <option value="">지역</option>
                            <option value="서울">서울특별시</option>
                            <option value="인천">인천광역시</option>
                            <option value="대전">대전광역시</option>
                            <option value="대구">대구광역시</option>
                            <option value="광주">광주광역시</option>
                            <option value="울산">울산광역시</option>
                            <option value="부산">부산광역시</option>
                        </select>
                        <br>
                        <small></small>
                    </div>
                    <small></small>
                    <div class="form-control">
                        <span class="lbl">취미</span>
                        <div class="hobby-wrap">
                            <div>
                                <input type="checkbox" name="hobby" id="sports" value="운동" class="hobby">
                                <label for="sports">운동</label>
                            </div>
                            <div>
                                <input type="checkbox" name="hobby" id="inst" value="악기" class="hobby">
                                <label for="inst">악기</label>
                            </div>
                            <div>
                                <input type="checkbox" name="hobby" id="game" value="게임" class="hobby">
                                <label for="game">게임</label>
                            </div>
                        </div>
                        <br>
                        <small></small>
                    </div>
                    <small></small>
                    <div class="form-control">
                        <span class="lbl">자기소개</span>
                        <textarea name="self" id="" cols="30" rows="5" placeholder="10자 이상 입력해주세요.."></textarea>
                        <br>
                        <small></small>
                    </div>
                </div>
                <button type="submit" class="sign">회원가입</button>
                <a href="/">아이디가 있으신가요?</a>
            </div>
        </form>
    </div>
    </div>

    <!-- link script -->
    <script src="./js/register.js"></script>
</body>


</html>