<%-include('../header.ejs') %>
<link rel="stylesheet" href="/css/memberStyle.css" />
<main>
    <div id="register-wrap">
        <section id="register-title" class="nanum">
            <h2>회원가입</h2>
        </section>
        <section id="register-main">
            <form action="/member" method="post" id="frm">
                <div class="wrap-input">
                    <div id="input-wrap-forFlex">
                        <label for="">아이디</label>
                        <input id="id" name="id" type="text" />
                    </div>
                    <small></small>
                </div>

                <div class="wrap-input">
                    <div id="input-wrap-forFlex">
                        <label for="">비밀번호</label>
                        <input id="pw" name="pw" type="password" />
                    </div>

                    <small></small>
                </div>

                <div class="wrap-input">
                    <div id="input-wrap-forFlex">
                        <label for="">이름</label>
                        <input type="text" id="name" name="name" />
                    </div>

                    <small></small>
                </div>

                <div class="wrap-input">
                    <div id="input-wrap-forFlex">
                        <label for="">이메일</label>
                        <input type="text" id="email" name="email" />
                    </div>

                    <small></small>
                </div>
                <input type="submit" value="가입하기" id="reg-btn" />
            </form>
        </section>
    </div>
</main>

<script>
    document.title = "BitTravel > Member > Register";
</script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

<script src="/js/register.js"></script>
<%-include('../footer.ejs') %>
