*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.loading{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 화면 정가운데 */
}

.loading p{
  animation-name: loadingPrag;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes loadingPrag{
  0% {
 /* 처음에 */
 font-size: 30px;
 color: tomato
  }

  100%{
/* 나중에 */
font-size:70px;
font-weight: 700;
color: black;
  }
}

.albums-container{ /* flex, grid 박스를 감싸고 있는 div */
  width: 800px;
  display: grid;
  grid-template-columns: repeat(4,24%);
  row-gap: 10px;
  column-gap: 1%;
  margin:50px auto;
}

.album{
  width: 100%;
  height: auto;
  padding: 10px;
  box-shadow: 0 0 5px rgba(202,202,202);
  border-radius: 3px;
}
img{
  width: 300px;
}