<%-include('../header.ejs') %> 
<link rel="stylesheet" href="/css/memberStyle.css">
<section id="register-main">
    <h2 class="titil">Members</h2>
    <div id="button-wrap">
        <a href="/member/register"><button>회원가입</button></a>
        <a href="/member/list"><button>회원관리</button></a>
    </div>
</section>

<script>
    document.title = "BitTravel > Member > Register"
</script>
<%-include('../footer.ejs') %> 