<%-include('../header.ejs') %> 
<link rel="stylesheet" href="/css/memberStyle.css">
<section id="member-main">
    <h2 class="titil">Members</h2>
    <div id="btn-wrap">
        <a href="/member/register"><button class="main-btn">회원가입</button></a>
        <a href="/member/list/page/1"><button class="main-btn">회원관리</button></a>
    </div>
</section>

<script>
    document.title = "BitTravel > Member > Register"
</script>
<%-include('../footer.ejs') %> 