@charset 'utf-8';

/* 반응형 미디어쿼리 작업 */

/* 사이즈 831px 작업 */
@media (max-width: 831px) {
  ul {
    flex-direction: column;
  }

  nav {
    display: inline-block;
    /* display: block; */
  }
}

@media (min-width: 501px) {
  nav {
    display: block;
  }
}

/* 모바일 사이즈 : 500px 작업 */
@media (max-width: 500px) {
  ul {
    flex-direction: column;
  }
  nav {
    display: none;
    flex-direction: column;
  }

  .btn {
    display: inline-block;
  }

  /* .btn:hover ~ nav {
    display: block;
  } */
}
