<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>update User </title>
    <style>
        body{
            font-family: 'Roboto', sans-serif;
        }
        .container{
            max-width: 500px;
            margin: 0 auto;
        }
        input{
            width: 100%;
            outline: none;
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <h1>수정페이지</h1>
    <div class="container">
        <form method = "post" action="/upUser" autocomplete="off">
            <input type="hidden" name="regID" value="<%= result[0].regID %>">
            Username <input type="text" name="username" id="" value=" <%= result[0].username %> " required maxlength="10" >
            Password <input type="password" name="passwd" id="" value=" <%= result[0].passwd %> " required maxlength="10">
            <input type="submit" value="Modify">
        </form>
    </div>
</body>
</html>